
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBoardMemberLabel">Create or edit a BoardMember</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="boardMember.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="boardMember.title"
                    required ng-minlength="5" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="boardMember.year"
                    required min="2016" />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.min" translate-value-min="2016">
                    This field should be more than 2016.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_member">member</label>
            <select class="form-control" id="field_member" name="member" ng-model="boardMember.member" ng-options="member as member.name for member in members | orderBy:'lastName' track by member.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
