<div>
    <h2>Jobs</h2>
    <jh-alert></jh-alert>
    <div>
        <label>Search for a job by typing its title, work leader, job type, or job day:
        <input type="text" class="form-control" ng-model="searchText"></label>
        <button id="clear-filter" class="btn btn-alert btn-sm" ng-click="clearFilter()" type="button">
            <span class="glyphicon glyphicon-remove"/>
        </button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                       >Create new Job
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pointValue"><span>PointValue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cashValue"><span>CashValue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobDay"><span>JobDay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reserved"><span>Reserved</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mealTicket"><span>Meal Ticket</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventType.type"><span>eventType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workLeader.name"><span>workLeader</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="job in jobs | filter:searchText track by job.id">
                    <td><a ui-sref="job.detail({id:job.id})">{{job.id}}</a></td>
                    <td>{{job.title}}</td>
                    <td>{{job.pointValue}}</td>
                    <td>{{job.cashValue}}</td>
                    <td>{{job.jobDay}}</td>
                    <td>{{job.reserved}}</td>
                    <td>{{job.mealTicket}}</td>
                    <td>
                        <a ui-sref="eventType.detail({id:job.eventType.id})">{{job.eventType.type}}</a>
                    </td>
                    <td>
                        <a ui-sref="member.detail({id:job.workLeader.id})">{{job.workLeader.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="job.detail({id:job.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job.edit({id:job.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job.delete({id:job.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
