<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Club Manager 1.0</h1>
            <p class="lead">Palmyra Racing Association</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Hello {{account.firstName}}!  You are logged in as user "{{account.login}}".
                    <p>
                    Please use the menus to access the functions you are looking for, or use the "quick links" below
                    to find what you need.
                    <p></p>
                    <div ng-if='account.authorities.indexOf("ROLE_ADMIN") > -1'>
                        {{account.firstName}}, as a club administrator.  You can:<p/>
                        <ul>
                            <li><a href="#/signups" class="alert-link">Sign up someone for a job</a></li>
                            <li><a href="#/scheduleDates" class="alert-link">Enter meeting or workday attendance</a></li>
                            <li><a href="#/scheduleDates" class="alert-link">Modify the schedule</a></li>
                            <li><a href="/api/signupReports/race/excel" class="alert-link">Download the signup sheet for race
                                weekend</a></li>
                            <li><a href="/api/signupReports/workday/excel" class="alert-link">Download the workday signin</a></li>
                            <li><a href="/api/signupReports/meeting/excel" class="alert-link">Download meeting signin</a></li>
                            <li><a target="_blank" href="/api/billing/{{ today | date : 'yyyy' }}/false" class="alert-link">Send renewals/new
                                member rules acknowledgements</a></li>
                        <p/>
                    </div>
                    <div ng-if='account.authorities.indexOf("ROLE_USER") > -1'>
                        {{account.firstName}}, it looks like you are a club member.  This means you can:<p/>
                            <ul>
                                <li><a href="#/signupReports" class="alert-link">View the signup list for the next race</a></li>
                                <li><a href="#/signups" class="alert-link">Sign up for a job</a></li>
                                <li><a href="#/member/me" class="alert-link">View member information</a></li>
                                <li><a href="#/earnedPointss/me" class="alert-link">View your points in detail</a></li>
                                <li><a href="#/ridingAreaStatuss" class="alert-link">Check what riding areas are open</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="alert alert-warning" ng-if="!isAuthenticated()">
                    If you already have an account, <a class="alert-link" href="#/login">Login here</a>.
                </div>
                <!--
                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
                -->
            </div>

        </div>
    </div>
</div>
