<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Club Manager 1.0</h1>
            <p class="lead">Palmyra Racing Association</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Hello {{account.firstName}}!  You are logged in as user "{{account.login}}".
                    <p>
                    Please use the menus to access the functions you are looking for, or use the "quick links" below
                    to find what you need.
                    <p></p>
                    <div ng-if='account.authorities.indexOf("ROLE_ADMIN") > -1'>
                        {{account.firstName}}, it looks like you are a club administrator.  This means you can:<p/>
                        <ul>
                            <li><a href="#/signups" class="alert-link">Sign up yourself or someone else for a job</a></li>
                            <li><a href="#/earnedPointss" class="alert-link">Verify points as a work leader</a></li>
                            <li><a href="#/scheduleDates" class="alert-link">Create/modify an event</a></li>
                            <li><a href="#/jobs" class="alert-link">Create/modify a job</a></li>
                            <li><a href="/exportSignups" class="alert-link">Download race day and week work signup list (for the pre-race meeting)</a></li>
                            <li><a href="/exportRaceDay" class="alert-link">Download the signup sheet for just race weekend (Saturday/Sunday jobs)</a></li>
                            <li><a href="/exportMeetingSignin" class="alert-link">Download meeting signin</a></li>
                        </ul>
                        <p/>
                    </div>
                    <div ng-if='account.authorities.indexOf("ROLE_USER") > -1'>
                        {{account.firstName}}, it looks like you are a club member.  This means you can:<p/>
                            <ul>
                                <li><a href="#/signups" class="alert-link">Sign up for a job</a></li>
                                <li><a href="#/members" class="alert-link">View member information</a></li>
                                <li><a href="#/earnedPointss" class="alert-link">View your points in detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="alert alert-warning" ng-if="!isAuthenticated()">
                    If you already have an account, <a class="alert-link" href="#/login">Login here</a>.
                </div>
                <!--
                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
                -->
            </div>

        </div>
    </div>
</div>
