<div>
    <h2>Member Sign In</h2>
    <jh-alert></jh-alert>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th><span>Last Name</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Click to Signin</span></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="member in members | filter:'!Paid' track by member.id">
                    <td>{{member.lastName}}</td>
                    <td>{{member.firstName}}</td>
                    <td>
                        <button type="submit"
                                id="{{member.id}}"
                                ng-hide="checkHide(member.id)"
                                ng-click="signUpFromLink(member)"
                                class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-pencil">Sign In</span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </td>
<!--
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="member.detail({id:member.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.edit({id:member.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.delete({id:member.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                    -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
