<div>
    <h2>Member Sign In</h2>
    <jh-alert></jh-alert>
    <div>
        <label>Search for a member by typing, or select some common choices with the buttons below:
            <input type="text" class="form-control" ng-model="searchText"></label>
        <button id="clear-filter" class="btn btn-alert btn-sm" ng-click="clearFilter()" type="button">
            <span class="glyphicon glyphicon-remove"/>
        </button>
        <p>
            <button id="senior-filter" class="btn btn-alert btn-sm"  ng-click="setFilter('Senior')" type="button">
                <span class="glyphicon glyphicon-education"/>
                <span>Senior Members</span>
            </button>
            <button id="sponsor-filter" class="btn btn-alert btn-sm"  ng-click="setFilter('Sponsorship')" type="button">
                <span class="glyphicon glyphicon-gift"/>
                <span>Sponsored Riders</span>
            </button>
            <button id="paid-filter" class="btn btn-alert btn-sm"  ng-click="setFilter('Paid')" type="button">
                <span class="glyphicon glyphicon-usd"/>
                <span>Paid Labor</span>
            </button>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th><span>Last Name</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Click to Signin</span></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="member in members | filter: searchFilter track by member.id">
                    <td>{{member.lastName}}</td>
                    <td>{{member.firstName}}</td>
                    <td>
                        <button type="submit"
                                id="{{member.id}}"
                                ng-hide="checkHide(member.id)"
                                ng-click="signUpFromLink(member)"
                                class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-pencil">Sign In</span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </td>
<!--
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="member.detail({id:member.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.edit({id:member.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.delete({id:member.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                    -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
