
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMemberStatusLabel">Create or edit a MemberStatus</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="memberStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="memberStatus.year"
                    required min="1961" />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.min" translate-value-min="1961">
                    This field should be more than 1961.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_member">member</label>
            <select class="form-control" id="field_member" name="member" ng-model="memberStatus.member" ng-options="member as member.name for member in members track by member.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_memberTypes">memberTypes</label>
            <select class="form-control" id="field_memberTypes" name="memberTypes" ng-model="memberStatus.memberTypes" ng-options="memberTypes as memberTypes.type for memberTypes in membertypess track by memberTypes.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
