
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySignupLabel">Create or edit a Signup</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="signup.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_worker">worker</label>
            <select class="form-control" id="field_worker" name="worker" ng-model="signup.worker" ng-options="member as member.name for member in members track by member.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_scheduleDate">scheduleDate</label>
            <select class="form-control" id="field_scheduleDate" name="scheduleDate" ng-model="signup.scheduleDate" ng-options="scheduleDate as scheduleDate.date for scheduleDate in scheduledates track by scheduleDate.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_job">job</label>
            <select class="form-control" id="field_job" name="job" ng-model="signup.job" ng-options="job as job.title for job in jobs track by job.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
