
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEarnedPointsLabel">Create or edit a EarnedPoints</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="earnedPoints.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="earnedPoints.date" is-open="datePickerForDate.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="earnedPoints.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pointValue">PointValue</label>
            <input type="number" class="form-control" name="pointValue" id="field_pointValue"
                    ng-model="earnedPoints.pointValue"
                    required min="0" />
            <div ng-show="editForm.pointValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.pointValue.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pointValue.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.pointValue.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_verified">Verified</label>
            <input type="checkbox" class="form-control" name="verified" id="field_verified"
                    ng-model="earnedPoints.verified"
                     />
            <div ng-show="editForm.verified.$invalid">
                <p class="help-block"
                    ng-show="editForm.verified.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_member">member</label>
            <select class="form-control" id="field_member" name="member" ng-model="earnedPoints.member" ng-options="member as member.name for member in members track by member.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_eventType">eventType</label>
            <select class="form-control" id="field_eventType" name="eventType" ng-model="earnedPoints.eventType" ng-options="eventType as eventType.type for eventType in eventtypes track by eventType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
