<div>
    <h2>Earned Points</h2>
    <jh-alert></jh-alert>
    <div ng-if="!viewMyPoints">
        <label>Search for a points entry by typing a member name:
        <input type="text" class="form-control" ng-model="searchText"></label>
        <button id="clear-filter" class="btn btn-alert btn-sm" ng-click="clearFilter()" type="button">
            <span class="glyphicon glyphicon-remove"/>
        </button>
    </div>
    <div class="container-fluid" ng-if="!viewMyPoints">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="earnedPoints.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                       >Create new points record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="alert alert-info" ng-if="viewMyPoints">
        See something that looks incorrect?  Have a question about your points?
        Points not yet verified but you think they should be?<br>
        <a style="font-weight:bold" href="mailto:hogbacksecretary@gmail.com?subject=points%20question%20from%20clubmanager">Let us know!</a>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th ng-if="!viewMyPoints">Points</th>
                    <th ng-if="!viewMyPoints">Paid</th>
                    <th jh-sort-by="date"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pointValue"><span>PointValue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cashValue" ng-if="!viewMyPoints"><span>Cash Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-if="viewMyPoints" jh-sort-by="verified"><span>Verified</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="member.name"><span>member</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventType.type"><span>eventType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="earnedPoints in earnedPointss | filter:searchText track by earnedPoints.id">
                    <!--<td><a ui-sref="earnedPoints.detail({id:earnedPoints.id})">{{earnedPoints.id}}</a></td>-->
                    <td ng-if="!viewMyPoints">
                        <button class="btn btn-success btn-sm" type="submit" ng-click="verifyPoints(earnedPoints)">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                    </td>
                    <td ng-if="!viewMyPoints">
                        <button class="btn btn-warning btn-sm" type="submit" ng-click="payWork(earnedPoints)">
                            <span class="glyphicon glyphicon-euro"></span>
                        </button>
                    </td>
                        <td>{{earnedPoints.date | date:'mediumDate'}}</td>
                    <td>{{earnedPoints.description}}</td>
                    <td>{{earnedPoints.pointValue}}</td>
                    <td ng-if="!viewMyPoints">{{earnedPoints.cashValue}}</td>
                    <td ng-if="viewMyPoints">{{earnedPoints.verified}}</td>
                    <td>
                        <a ui-sref="member.detail({id:earnedPoints.member.id})">{{earnedPoints.member.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="eventType.detail({id:earnedPoints.eventType.id})">{{earnedPoints.eventType.type}}</a>
                    </td>
                    <td class="text-right" ng-if="!viewMyPoints">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="earnedPoints.edit({id:earnedPoints.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="earnedPoints.delete({id:earnedPoints.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="viewMyPoints">
                    <td>Total points for this year:</td>
                    <td>{{pointsTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
